.App {
  text-align: center;
}

.room-join {
  margin-top: 50px;
}

.room-join input {
  padding: 10px;
  font-size: 16px;
}

.room-join button {
  padding: 10px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.board-row {
  display: flex;
}

.square {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.square:focus {
  outline: none;
}
